/* 样式的覆盖 */

body{
	background-color: #f3f4f8;
}
header{
	background: #f3f4f8 url(../img/tongxin_header.png) no-repeat 0 0;
	background-size: 100% 100%;
}
header i{
	color: #fff;
}


/* 样式定义 */
.wrap{
	position: absolute;
width: 100%;
}
.head_row{
	width: 100%;
position: absolute;
top: 60px;
height: 6em;
border-top: 1px solid #ccc;
/*border-bottom: 1px solid #ccc;*/
padding: 0.5em 0 0.5em 1em;
}
.img_row{
	float: left;
height: 100%;
width: 5em;
border-radius: 50%;
overflow: hidden;
}
.img_row img{
	
}

.name{
	height: 2.6em;
line-height: 3em;
padding-left: 6em;
font-weight: bold;
}
.signature{
	height: auto;
	line-height: 1.2em;
	padding-left: 6.9em;
	float: right;
	font-size: 0.9em;
	font-style: italic;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	bottom: 2.7em;
	text-indent: 1.4em;
}

#add_friend{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2.5em;
	line-height: 2.5em;
	background: #9F7FFE;
	text-align: center;
	color: #fff;
	letter-spacing: 0.2em;
	cursor: pointer;
}







