/* chat css样式  -------------start */

body {
	background-color: #f3f4f8;
}
header {
	background: #f3f4f8 url(../img/tongxin_header.png) no-repeat 0 0;
	background-size: 100% 100%;
}
header i {
	position: absolute;
	right: 5%;
	color: #fff;
}
.watched .tips-message {
	display: none !important;
}
/* body css start */

#body {
	height: calc(100% - 100px);
	width: 100%;
	position: absolute;
}
#search_box {
	height: 50px;
	line-height: 50px;
	padding: 0 5%;
	margin-top: 50px;
}
.input_box {
	display: inline-block;
	width: 100%;
	height: 60%;
	border: 1px solid #d3d3d3;
	vertical-align: middle;
	border-radius: 5% / 50%;
}
.input_box label {
	float: left;
	width: 14%;
	height: 100%;
	padding: 5px 0 0 15px;
}
.input_box i {
	float: left;
	color: #8d9095;
	cursor: pointer;
}
#searchFriend {
	float: left;
	outline: 0 none;
	border: none;
	background-color: #f2f4f7;
	margin: 5px 0 0 0;
	width: 80%;
	text-indent: 4px;
}
/* 聊天box */

#chat_box {}
/* 摇一摇box */

#shake_box {
	display: none;
}
.shake_text {
	padding-top: 3em;
}
.shake_text p {
	margin: 0;
	padding: 1em 3em;
	line-height: 1.5em;
}
i.keypress_down {
	color: #f0f;
	display: block;
	text-align: center;
}
.shake_link {
	display: block;
	width: 100%;
	margin: 10px auto;
	height: 3em;
	text-indent: 1em;
	line-height: 3em;
	text-align: left;
	color: #474747;
	background: #f2f2f2;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
/* 个人信息 */

#private_box {
	display: none;
}
/*  search box end */

#private_box,
#shake_box,
#friends_box,
#chat_box {
	border-top: 1px solid #ccc;
	overflow: auto;
	position: fixed;
	top: 100px;
	bottom: 50px;
	width: 100%;
	left: 0;
}
#friends_box {
	display: none;
}
/* body css end */

.friends {
	height: 60px;
	width: 100%;
	overflow: hidden;
	padding-top: 5px;
	/* background: #ddd; */
	position: relative;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.friends .del{
	width: 70px;
	height: 100%;
	position: absolute;
	right: -70px;
	top: 0;
	text-align: center;
	line-height: 60px;
	background: red;
	color: white;
	-webkit-transition: all linear .2s;
	transition: all linear .2s;
}
.friends.del-now .del{
	right: 0;
}
.head_imgbox {
	float: left;
	width: 3.3em;
	margin-top: 2px; 
	height: 3.3em;
	margin-left: -97%;
	background-color: #aaa;
	position: relative;
}
.tips-message{
	position: absolute;
	right: -5px;
	top: -5px;
	border-radius: 50%;
	background: red;
	color: white;
	height: 20px;
	width: 20px;
	font-size: .7em;
	line-height: 20px;
	text-align: center;
}
.imgbox_inner{
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 50%;
}
.head_imgbox img {
	display: block;
	width: 100%;
	height: 100%;
}
.name_wrap {
	float: left;
	width: 100%;
	padding: 5px 3.5em 5px 5em;
}
.name_box {
	width: 100%;
	/*overflow: hidden;
text-overflow: ellipsis;*/
}
.name {
	width: 100%;
	height: 1.5em;
	font-weight: bold;
	line-height: 1.5em;
}
.qianming {
	/*float: left; */
	color: #777;
	width: 100%;
	height: 1.3em;
	line-height: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.turn_left {
	float: right;
	height: 100%;
	/* padding: 0 19px; */
	
	width: 2.5em;
	margin-left: -2.5em;
	color: #cbcbcb;
	margin-top: -5px;
}
/* footer 样式呈现  begin */

footer {
	border-top: 1px solid #967fff;
	background-color: #F3F4F8;
}
.tool_box {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #F3F4F8;
	position: relative;
}
.tool_bar {
	display: inline-block;
	padding-top: 5px;
	height: 100%;
	width: 24%;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}
.tool_one {
	position: absolute;
	left: 0;
	top: 0;
}
.tool_two {
	position: absolute;
	left: 24%;
	top: 0;
}
.tool_three {
	position: absolute;
	left: 51%;
	top: 0;
}
.tool_four {
	position: absolute;
	right: 0;
	top: 0;
}
.tool_img {
	color: #9f9f9f;
	font-size: 28px;
	overflow: hidden;
	padding-bottom: 0px;
	text-align: center;
}
.tool_text {
	text-align: center;
	color: #cbcbcb;
	font-size: .8em;
	margin-top: 0.2em;
}
.tool_bar span {
	display: block;
}

.tool_bar.active span,.tool_bar.active i{
	color: #ffbb7f
}
/*  footer 样式呈现  end */